Sorgente/src/flows/Transfer_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>SceltaOpp</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>IdOppSrc</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>IdDestOpp</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Transfer Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Opportunity</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Updated</name>
        <label>Updated</label>
        <locationX>209</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>ScreenOk</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdDestOpp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TextTemplate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>SceltaOpportunita</name>
        <label>SceltaOpportunita</label>
        <locationX>208</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Updated</targetReference>
        </connector>
        <fields>
            <name>Opportunit</name>
            <choiceReferences>SceltaOpp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunità</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenOk</name>
        <label>ScreenOk</label>
        <locationX>214</locationX>
        <locationY>348</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TxtThanks</name>
            <fieldText>Grazie per avere volato con Alitalia</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SceltaOpportunita</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>TextTemplate</name>
        <text>Copiato da Opp {!IdOppSrc}</text>
    </textTemplates>
    <variables>
        <name>IdDestOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOppSrc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
