Sorgente/.apex/src/flows/Creazione_Madre_da_Opportunit-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>ListaRuoliSuOpp</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>OpportunityContactRole</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Creazione Madre da Opportunità {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creazione Ruolo Dei Referenti</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_Ruolo_Dei_Referenti</name>
        <label>Crea Ruolo Dei Referenti</label>
        <locationX>677</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Madre_creata</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>IdDelReferente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>RuoloInput</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Creare_account_madre</name>
        <label>Creare account madre</label>
        <locationX>362</locationX>
        <locationY>104</locationY>
        <assignRecordIdToReference>IDdellaccountMAdre</assignRecordIdToReference>
        <connector>
            <targetReference>Cerca_nuovo_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <stringValue>SS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Nome_madre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Cognome_madre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origine__c</field>
            <value>
                <stringValue>Da verificare</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email_madre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonLeadSource</field>
            <value>
                <stringValue>Telefono</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>Telefono_madre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Telefono_madre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124E0000004Num</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Cerca_nuovo_Account</name>
        <label>Cerca nuovo Account</label>
        <locationX>506</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Ruolo_Dei_Referenti</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDdellaccountMAdre</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdDelReferente</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Inserisci_madre_per_opportunit</name>
        <label>Inserisci madre per opportunità</label>
        <locationX>153</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Creare_account_madre</targetReference>
        </connector>
        <fields>
            <name>Nome_madre</name>
            <dataType>String</dataType>
            <fieldText>Nome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cognome_madre</name>
            <dataType>String</dataType>
            <fieldText>Cognome</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Telefono_madre</name>
            <dataType>String</dataType>
            <fieldText>Telefono</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_madre</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RuoloInput</name>
            <choiceReferences>ListaRuoliSuOpp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ruolo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Madre_creata</name>
        <label>Madre creata</label>
        <locationX>870</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Messaggiodiconferma</name>
            <fieldText>Ruolo dei referenti creato correttamente puoi chiudere la scheda ora</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Inserisci_madre_per_opportunit</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>IDdellaccountMAdre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdDelReferente</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
